nav {
    max-width: 90%;
    margin: auto;
}

.bg-dark {
	background-color: #ffffff !important;
}

.navbar-brand {
	content: url(./Logo.png);
	float: left;
}

.navbar-nav .nav-link {
	color: #1B3B66 !important;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 20px !important;
}

.navbar-nav {
	float: right;
}
