nav {
	height: 100px;
}

.bg-dark {
	background-color: #ffffff !important;
}

.navbar-brand {
	text-align: center;
	position: absolute;
	top: 15px;
	left: 100px;
	margin:  0 auto;
	content: url(./Logo.png);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar-brand {
	  width: 50%;
	  left: 25%;
	  right: 25%;
  }
}


.navbar-nav .nav-link {
	color: #1B3B66 !important;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 20px !important;
}

.navbar-nav {
	float: right;
}

.navbar-toggler-icon {
	display: none;
}