.row {
	max-width: 90%;
	margin: auto;
	text-align: center;
	color: #1b3b66;
}

.card-body {
	min-height: 400px;
	min-width: 300px;
}

.card {
	border-radius: 1em;
}

h5 {
	margin-bottom: 20px;
}

#container0Div {
}

#container1div {
	
}

#container2div {
	
}



.taskType,
.taskDescription {
	color: #1b3b66 !important;
}

.taskDescription {
	min-height: 2em;
}

.box-container {
	min-height: 200px;
}

.box-item {
	width: 90%;
	z-index: 3000;
	margin-bottom: 5px;
	border-radius: 1em;
}

/* Task Animation */

#containeropen div {
	animation-name: animateIn;
	animation-duration: 500ms;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

#containeropen div:nth-child(1) {
	animation-delay: 100ms;
}

#containeropen div:nth-child(2) {
	animation-delay: 200ms;
}

#containeropen div:nth-child(3) {
	animation-delay: 300ms;
}

#containeropen div:nth-child(4) {
	animation-delay: 400ms;
}

#containeropen div:nth-child(5) {
	animation-delay: 500ms;
}

#containeropen div:nth-child(6) {
	animation-delay: 600ms;
}

#containeropen div:nth-child(7) {
	animation-delay: 700ms;
}

#containeropen div:nth-child(8) {
	animation-delay: 800ms;
}

#containeropen div:nth-child(9) {
	animation-delay: 900ms;
}

#containeropen div:nth-child(10) {
	animation-delay: 1000ms;
}

#containerpending div {
	animation-name: animateIn;
	animation-duration: 500ms;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

#containerpending div:nth-child(1) {
	animation-delay: 100ms;
}

#containerpending div:nth-child(2) {
	animation-delay: 200ms;
}

#containerpending div:nth-child(3) {
	animation-delay: 300ms;
}

#containerpending div:nth-child(4) {
	animation-delay: 400ms;
}

#containerpending div:nth-child(5) {
	animation-delay: 500ms;
}

#containerpending div:nth-child(6) {
	animation-delay: 600ms;
}

#containerpending div:nth-child(7) {
	animation-delay: 700ms;
}

#containerpending div:nth-child(8) {
	animation-delay: 800ms;
}

#containerpending div:nth-child(9) {
	animation-delay: 900ms;
}

#containerpending div:nth-child(10) {
	animation-delay: 1000ms;
}

#containerclosed div {
	animation-name: animateIn;
	animation-duration: 500ms;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

#containerclosed div:nth-child(1) {
	animation-delay: 100ms;
}

#containerclosed div:nth-child(2) {
	animation-delay: 200ms;
}

#containerclosed div:nth-child(3) {
	animation-delay: 300ms;
}

#containerclosed div:nth-child(4) {
	animation-delay: 400ms;
}

#containerclosed div:nth-child(5) {
	animation-delay: 500ms;
}

#containerclosed div:nth-child(6) {
	animation-delay: 600ms;
}

#containerclosed div:nth-child(7) {
	animation-delay: 700ms;
}

#containerclosed div:nth-child(8) {
	animation-delay: 800ms;
}

#containerclosed div:nth-child(9) {
	animation-delay: 900ms;
}

#containerclosed div:nth-child(10) {
	animation-delay: 1000ms;
}

@keyframes animateIn {
	0% {
		opacity: 0;
		transform: scale(0.6) translateY(-8px);
	}

	100% {
		opacity: 1;
	}
}

/* Severity Color Scale */

[id='1'],
[id='1']:hover,
[id='1']:active {
	background-color: #ffaaaa !important;
	border-color: #ffaaaa !important;
}

[id='2'],
[id='2']:hover,
[id='2']:active {
	background-color: #ff5555;
	border-color: #ff5555;
}

[id='3'],
[id='3']:hover,
[id='3']:active {
	background-color: #ff2a2a;
	border-color: #ff2a2a;
}

[id='4'],
[id='4']:hover,
[id='4']:active {
	background-color: #aa0000;
	border-color: #aa0000;
}

[id='5'],
[id='5']:hover,
[id='5']:active {
	background-color: #800000;
	border-color: #800000;
}

/* New Task Button and Form */

#newTask {
	
	margin: 50px auto;
	text-align: center;
	color: #ffffff;
	background-color: #1b3b66;
	border-radius: 1em;
}

#newTask:hover {
	background-color: #31313b;
}

form .btn {
	color: #ffffff;
	background-color: #1b3b66;
	border-radius: 1em;
}

form .btn:hover {
	background-color: #31313b;
}

input {
	width: 20%;
	margin: 20px auto;
	background-color: #1b3b66;
	border-radius: 1em;
	min-height: 2em;
	color: #ffffff;
	border: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  input {
	  width: fit-content;
	  min-width: 20%;
  }
}


input:hover {
	background-color: #31313b;
}

input:focus,
input:active {
	outline: 0;
	background-color: #31313b;
}

#notesForm {
	min-width: 100%;
	margin: 0 auto !important;
}

.row div {
	text-align: center;
	margin: auto;
}

.box-item {
	margin-top: 5px !important;
}

#problemNotes,
#problemNotes:focus,
#problemNotes:active {
	background-color: #ffffff;
}

#submitNotes {
	background-color: #1b3b66;
	border-radius: 1em;
	border: none;
}

#submitNotes:hover,
#submitNotes:active,
#submitNotes:focus {
	outline: none;
	background-color: #31313b;
}

#newTask {
	width: 90%;
}

#newTask:active,
#newTask:focus {
	background-color: #31313b;
	outline: none;
}

/* Modal */






.btn-primary {
	background-color: #1b3b66;
	border-radius: 1em;
	border: none;
}

.btn-primary:hover,
.btn-primary:active {
	background-color: #31313b;
}

.passport-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#username-form {
	background-color: #ffffff;
	border: 1px solid #000000;
	width: 280px;
	margin-left: 20px;
	color: #000000;
	text-align: center;
}

#password-form {
	background-color: #ffffff;
	border: 1px solid #000000;
	width: 280px;
	margin-left: 20px;
	color: #000000;
	text-align: center;
}

#submit-form {
	width: 100px;
}

.login-button {
	position: absolute;
	right: 100px;
	top: 30px;
	background-color: #1b3b66;
	border-radius: 1em;
	border: none;
	min-width: 6%;
}

.signup-button {
	position: absolute;
	right: 200px;
	top: 30px;
	min-width: 6%;
}

.help-button {
	position: absolute;
	right: 300px;
	top: 30px;
	background-color: #ffffff;
	color: #1b3b66;
	border: 1px solid #1b3b66;
	min-width: 6%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
	.login-button, .signup-button, .help-button {
		position: initial;
		display: flex;
		margin: 10px auto;
	}

	.help-button {
		margin-bottom: 30px;
	}

}

.help-button:active, .login-button:active, .signup-button:active, .help-button:focus, .login-button:focus, .signup-button:focus {
	outline: 0;
	background-color: #31313b;
}

.help-button:active, .help-button:focus {
	background-color: #ffffff;
}

