* {
	font-family	: 'Open Sans', sans-serif;
}

.row {
	max-width: 90%;
	margin: auto;
	text-align: center;
	color: #1b3b66;
}

.card-body {
	min-height: 400px;
}

.card {
	border-radius: 1em;
}


h5 {
	margin-bottom: 15px;
}





.taskType,
.taskDescription {
	color: #1b3b66 !important;
}

.taskDescription {
	min-height: 2em;
}

.box-container {
	min-height: 300px;
	max-height: 300px;
	overflow: scroll;
}

.box-item {
	font-size: .8em;
	width: 95%;
	z-index: 3000;
	margin-bottom: 5px;
	border-radius: 1em;
	padding: 4px;
	max-width: 100% !important;
}

html {
	overflow-y: overlay;
}

*::-webkit-scrollbar {
	width: .6em;
	overflow: overlay;
}





*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 1em;
}

*::-webkit-scrollbar-button {
	display: none;
}

/* Task Animation */

#containeropen div {
	animation-name: animateIn;
	animation-duration: 500ms;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

#containeropen div:nth-child(1) {
	animation-delay: 100ms;
}

#containeropen div:nth-child(2) {
	animation-delay: 300ms;
}

#containeropen div:nth-child(3) {
	animation-delay: 500ms;
}

#containeropen div:nth-child(4) {
	animation-delay: 700ms;
}

#containeropen div:nth-child(5) {
	animation-delay: 900ms;
}

#containeropen div:nth-child(6) {
	animation-delay: 1100ms;
}

#containeropen div:nth-child(7) {
	animation-delay: 1300ms;
}

#containeropen div:nth-child(8) {
	animation-delay: 1500ms;
}

#containeropen div:nth-child(9) {
	animation-delay: 1700ms;
}

#containeropen div:nth-child(10) {
	animation-delay: 1900ms;
}

#containerpending div {
	animation-name: animateIn;
	animation-duration: 500ms;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

#containerpending div:nth-child(1) {
	animation-delay: 100ms;
}

#containerpending div:nth-child(2) {
	animation-delay: 300ms;
}

#containerpending div:nth-child(3) {
	animation-delay: 500ms;
}

#containerpending div:nth-child(4) {
	animation-delay: 700ms;
}

#containerpending div:nth-child(5) {
	animation-delay: 900ms;
}

#containerpending div:nth-child(6) {
	animation-delay: 1100ms;
}

#containerpending div:nth-child(7) {
	animation-delay: 1300ms;
}

#containerpending div:nth-child(8) {
	animation-delay: 1500ms;
}

#containerpending div:nth-child(9) {
	animation-delay: 1700ms;
}

#containerpending div:nth-child(10) {
	animation-delay: 1900ms;
}

#containerclosed div {
	animation-name: animateIn;
	animation-duration: 500ms;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

#containerclosed div:nth-child(1) {
	animation-delay: 100ms;
}

#containerclosed div:nth-child(2) {
	animation-delay: 300ms;
}

#containerclosed div:nth-child(3) {
	animation-delay: 500ms;
}

#containerclosed div:nth-child(4) {
	animation-delay: 700ms;
}

#containerclosed div:nth-child(5) {
	animation-delay: 900ms;
}

#containerclosed div:nth-child(6) {
	animation-delay: 1100ms;
}

#containerclosed div:nth-child(7) {
	animation-delay: 1300ms;
}

#containerclosed div:nth-child(8) {
	animation-delay: 1500ms;
}

#containerclosed div:nth-child(9) {
	animation-delay: 1700ms;
}

#containerclosed div:nth-child(10) {
	animation-delay: 1900ms;
}

@keyframes animateIn {
	0% {
		opacity: 0;
		transform: scale(0.6) translateY(-8px);
	}

	100% {
		opacity: 1;
	}
}

/* Severity Color Scale */

[id='1'],
[id='1']:hover,
[id='1']:active {
	background-color: #fcbba1 !important;
	border-color: #fcbba1 !important;
}

[id='2'],
[id='2']:hover,
[id='2']:active {
	background-color: #fc9272;
	border-color: #fc9272;
}

[id='3'],
[id='3']:hover,
[id='3']:active {
	background-color: #de2d26;
	border-color: #de2d26;
}

[id='4'],
[id='4']:hover,
[id='4']:active {
	background-color: #de2d26;
	border-color: #de2d26;
}

[id='5'],
[id='5']:hover,
[id='5']:active {
	background-color: #a50f15;
	border-color: #a50f15;
}

/* New Task Button and Form */

#newTask {
	margin: 50px auto;
	text-align: center;
	color: #ffffff;
	background-color: #1b3b66;
	border-radius: 1em;
	content: "";
    display: block;
}

#newTask:hover {
	background-color: #31313b;
}

form .btn {
	color: #ffffff;
	background-color: #1b3b66;
	border-radius: 1em;
}

form .btn:hover {
	background-color: #31313b;
}

input {
	width: 20%;
	margin: 20px auto;
	background-color: #1b3b66;
	border-radius: 1em;
	min-height: 2em;
	color: #ffffff;
	border: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  input {
	  width: fit-content;
	  min-width: 20%;
  }
}


input:hover {
	background-color: #31313b;
}

input:focus,
input:active {
	outline: 0;
	background-color: #31313b;
}

#notesForm {
	min-width: 100%;
	margin: 0 auto !important;
}

.row div {
	text-align: center;
	margin: auto;
}

.box-item {
	margin-top: 5px !important;
}

#problemNotes,
#problemNotes:focus,
#problemNotes:active {
	background-color: #ffffff;
}

#submitNotes {
	background-color: #1b3b66;
	border-radius: 1em;
	border: none;
}

#submitNotes:hover,
#submitNotes:active,
#submitNotes:focus {
	outline: none;
	background-color: #31313b;
}

#newTask {
	width: 90%;
}

#newTask:active,
#newTask:focus {
	background-color: #31313b;
	outline: none;
}

/* Modal */






.btn-primary {
	background-color: #1b3b66;
	border-radius: 1em;
	border: none;
}

.btn-primary:hover,
.btn-primary:active {
	background-color: #31313b;
}

.passport-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#username-form {
	background-color: #ffffff;
	border: 1px solid #000000;
	width: 280px;
	margin-left: 20px;
	color: #000000;
	text-align: center;
}

#password-form {
	background-color: #ffffff;
	border: 1px solid #000000;
	width: 280px;
	margin-left: 20px;
	color: #000000;
	text-align: center;
}

#submit-form {
	width: 100px;
}

.login-button {
	position: absolute;
	right: 100px;
	top: 30px;
	background-color: #1b3b66;
	border-radius: 1em;
	border: none;
	min-width: 8% !important;
	font-size: .9em;
}

.signup-button {
	position: absolute;
	right: 200px;
	top: 30px;
	min-width: 8% !important;
	font-size: .9em;
}

.help-button {
	position: absolute;
	right: 300px;
	top: 30px;
	background-color: #ffffff;
	color: #1b3b66;
	border: 1px solid #1b3b66;
	min-width: 8% !important;
	font-size: .9em;
}

.help-button:hover {
	background-color: #31313b;
	border-color: #31313b;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
	.login-button, .signup-button, .help-button {
		position: initial;
		padding: 20px;
		display: block;
		margin: 0 auto;
		width: 100%;
		border-radius: 0;
		text-align: center !important;
		background-color: #1b3b66;
	}

	.login-button {
		margin-top: 0px;
	}

	.signup-button {
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
	}

	.help-button {	
		margin-bottom: 30px;
		color: #ffffff;
	}
	

}

.help-button:active, .login-button:active, .signup-button:active, .help-button:focus, .login-button:focus, .signup-button:focus {
	outline: 0;
	background-color: #31313b;
}

.help-button:active, .help-button:focus {
	background-color: #ffffff;
}

.btn:focus{
    box-shadow:none !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #31313b;
    border-color: #31313b;
}

.modal-backdrop {
	background-color: #ffffff;
}

.modal-content {
	border-radius: 1em;
	box-shadow: 10px 10px 5px grey;
	color: #1b3b66;
}

@media screen and (min-width:1200px) {
	.signup-button {
		right: 250px;
	}

	.help-button {
		right: 400px;
	}
}

@media screen and (min-width:1800px) {
	.signup-button {
		right: 300px;
	}

	.help-button {
		right: 500px;
	}
}

.Droppable {
	display: flex;
	flex-direction: column;
	min-width: 100%;
}

.card-body {
	min-width: 100%;
}

.time-hide .box-item time {
	display: none;
}

.time-hide .box-item {
	background-color: #408915 !important;
	border-color: #408915 !important;
}


#container0Div, #container1Div, #container2Div {
	margin-bottom: 50px !important;
}

#notes-ital {
	font-style: italic;
}

#notes-ital:empty {
	display: none;
}