html { 
    height: 100%; 
}

body {
    min-height:100%; 
    position:relative; 
    padding-bottom: 100px; 
}

footer {
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height: 20px;
    font-size: .75em;
    text-align: center;
}